<div class="card card-nav-tabs text-center" *ngFor="let link of links$ | async">
    <div class="card-body">
        
        <p *ngIf="link.read_at == null" class="card-text"><a href="{{link.link}}" class="card-link" (click)="markAsRead(link.id, $event)" target="_blank">{{link.link}}</a></p>
        <p *ngIf="link.read_at != null" class="card-text"><a href="{{link.link}}" class="card-link isRead" target="_blank">{{link.link}}</a></p>
    </div>
    <div class="card-footer text-muted">
        hinzugefügt am {{link.created_at | date: 'dd.MM.y HH:mm:ss'}}
    </div>
</div>
